/* COLOR */
$Sub-color: hsl(90, 5%, 17%);
$Main-color: #000;
$Color-White: #fff;

/* PADDING */
$Padding-ls: 2rem 6rem;
$Padding-ss: 5rem 1.6rem;

/* LIST MARGINS */
$Margin-li: 0 1.5rem;

/* FONT SIZE */
$Fs-h1: 6.3rem;
$Fs-h1-s: 5rem;
$Fs-p: 1.6rem;
