.margin-bottom {
  margin-bottom: 0.4rem;
}

.margin-bottom-l {
  margin-bottom: 5rem;
}

.margin-bottom-s {
  margin-bottom: 0.7rem;
}

.margin-top {
  margin-top: 0.94rem;
}

.container {
  max-width: 130rem;
  margin-inline: auto;
}
